include ./mixins/_html-mixim

doctype html
head
  meta(charset='UTF-8')
  title Instagram clone
  link(rel='stylesheet' href='style.css' type='text/css')
nav(class="navbar")
  div(class="nav-wrapper")
    img(class="brand-img" src="img/logo.PNG" alt="logo")
    label
      input(class="search-box" type="text" placeholder="search")
    div(class="nav-items")
      img(class="icon" src="img/home.PNG" alt="home")
      img(class="icon" src="img/messenger.PNG" alt="messenger")
      img(class="icon" src="img/add.PNG" alt="add")
      img(class="icon" src="img/explore.PNG" alt="explore")
      img(class="icon" src="img/like.PNG" alt="like")
      div(class="icon user-profile")
section(class="main")
  div(class="wrapper")
    div(class="left-col")
      div(class="status-wrapper")
        each id in [1,2,3,4,5,6]
          +status-card(id)
      each id in [1,2,3,4,5,6,7,8,9,10,11,12,13]
        +post(id)
    div(class="right-col")
      div(class="profile-card")
        div(class="profile-pic")
          img(src='img/profile-pic.png' alt='')
        div
          p(class="username") instagram_popular_user
          p(class="sub-text") kunaal kumar
        button(class="action-btn") switch
      p(class="suggestion-text") Suggestions for you
      each id in [1,2,3,4,5,6,7]
        +profile-card(id)

