@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
  --alebaster-color: #fafafa;
  --alto-color: #dfdfdf;
  --azure-radiance-color: #00a2ff;
  --translucent-black-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: var(--alebaster-color);
  position: relative;
  font-family: 'roboto', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--white-color);
  border-bottom: 1px solid var(--alto-color);
  display: flex;
  justify-content: center;
  padding: 5px 0;
  z-index: 1;
}

.nav-wrapper {
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-img {
  height: 100%;
  margin-top: 5px;
}

.search-box {
  width: 200px;
  height: 25px;
  background: var(--alebaster-color);
  border: 1px solid var(--alto-color);
  border-radius: 2px;
  color: var(--translucent-black-color);
  text-align: center;
  text-transform: capitalize;
}

.search-box::placeholder {
  color: var(--translucent-black-color);
}

.nav-items {
  height: 22px;
  display: flex;
}


.icon:not(:last-child) {
  cursor: pointer;
  margin-right: 20px;
}

.user-profile {
  width: 22px;
  border-radius: 50%;
  background-image: url(img/profile-pic.png);
  background-size: cover;
}

.main {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.wrapper {
  width: 70%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 30px;
}

.left-col {
  display: flex;
  flex-direction: column;
}

.status-wrapper {
  width: 100%;
  height: 120px;
  background: #fff;
  border: 1px solid var(--alto-color);
  border-radius: 2px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar {
  display: none;
}

.status-card {
  flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--white-color);
}

.username {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  color: var(--translucent-black-color)
}

.post {
  width: 100%;
  height: auto;
  background: var(--white-color);
  border: 1px solid var(--alto-color);
  margin-top: 40px;
}

.info {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-weight: bold;
  color: var(--black-color);
  font-size: 14px;
  margin-left: 10px;
}

.info .options {
  height: 10px;
  cursor: pointer;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.info .profile-pic img {
  border: none;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span {
  font-weight: bold;
  margin-right: 10px;
}

.post-time {
  color: var(--translucent-black-color);
  font-size: 12px;
}

.comment-wrapper {
  min-height: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
}
.comment-label {
  width: 100%;
}

.comment-box {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn,
.action-btn {
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: var(--azure-radiance-color);
  opacity: 0.5;
}

.comment-btn {
  margin-left: auto;
}



.reaction-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon {
  height: 25px;
  margin: 0;
}

.reaction-wrapper .icon:not(:last-child) {
  margin-right: 20px;
}

.reaction-wrapper .icon.save {
  margin-left: auto;
}

.right-col {
  padding: 20px;
}

.profile-card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-card .profile-pic {
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-card:first-child .profile-pic {
  width: 70px;
  height: 70px;
}

.profile-card .profile-pic img {
  border: none;
}

.profile-card .username {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
}

.sub-text {
  color: var(--translucent-black-color);
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.action-btn {
  opacity: 1;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.suggestion-text {
  font-size: 14px;
  color: var(--translucent-black-color);
  font-weight: 700;
  margin: 20px 0;
}

@media (max-width: 1100px) {
  .right-col, .search-box {
    display: none;
  }

  .nav-wrapper,
  .wrapper {
    width: 90%;
  }

  .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-items .icon {
    margin: 0 5px;
  }

  .post-image {
    height: 300px;
  }
}
