// иконки статусов вверху над постами
mixin status-card(id)
  div(class="status-card")
    div(class="profile-pic")
      img(src=`img/cover ${id}.png`, alt="")
    p(class="username") user_name_ #{id}

// миксин поста
mixin post(id)
  div(class="post")
    div(class="info")
      div(class="user")
        div(class="profile-pic")
          img(src=`img/cover ${id}.png`, alt="profile pic")
        p(class="username") instagram_popular_user !{id}
      img(src="img/option.PNG" class="options" alt="option")
    img(src=`img/cover ${id}.png` class="post-image" alt="post image")
    div(class="post-content")
      div(class="reaction-wrapper")
        img(src="img/like.PNG" class="icon" alt="like")
        img(src="img/comment.PNG" class="icon" alt="comment")
        img(src="img/send.PNG" class="icon" alt="send")
        img(src="img/save.PNG" class="save icon" alt="save")
      p(class="likes") 1,012 likes
      p(class="description")
        span username
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?
      p(class="post-time") 2 minutes ago
    div(div class="comment-wrapper")
      img(src="img/smile.PNG" class="icon" alt="smile")
      label(class="comment-label")
        input(type="text" class="comment-box" placeholder="Add a comment")
      button(class="comment-btn") post

// карточки пользователей в правом меню (присоединиться)
mixin profile-card(id)
  div(class="profile-card")
    div(class="profile-pic")
      img(src=`img/cover ${id}.png` alt=`profile user_${id}`)
    div
      p(class="username") instagram_popular_user_!{id}
      p(class="sub-text") followed by user
    button(class="action-btn") follow
